.artist-link {

  border-radius: 8px;

  padding: 16px 16px;
  gap: 12px;
  background: #1e1e1e;
  
  border-radius: 10px;
  color: #ffffff;

  cursor: pointer;

  transition: background 0.15s ease;
  
  margin-bottom: 8px;
}

.artist-link:hover {
  background: #282828;
}

.artist-link h3 {
  margin: 0;

  font-size: 18px;
  font-weight: 600;
}